
/*Corps de la page*/
body{
    background-image: url("Images/lego.jpg");
    
}


/*titre de la page*/
#title{
    text-align:center;
  
}

/*phrase de description*/
#description{
    text-align:center;
    font-size:25px;
    color:black;
}

#survey-form{

}


.form{
   
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color:#93999b;
    opacity: 0.5;
    padding:0.5em 0.5em 0.5em 0.5em;
}

.champ{
    height:20px;
    width:300px;
    
}